<div class="flexbox sm-full" id="change-content">
    <div class="timeline">
        <ul>
            <li>
                <div class="outer">
                    <div class="vertical-line"></div>
                    <div class="tright thead" tabindex="1">
                        <p class="center" data-date="3rd March 2018">
                            <strong>
                                2000+ People Viewed
                                <br/>
                            </strong>
                            <span>
                                my articles on Medium
                                <a target="_blank" href="https://medium.com/front-end-hacking/understand-the-factory-design-pattern-in-plain-javascript-20b348c832bd" class="icon-link"></a>
                            </span>
                        </p>
                    </div>
                    <div class="tleft thead" tabindex="1">
                        <p class="center" data-date="11th Feb 2018">
                            <strong>
                                Won first prize
                                <br/>
                            </strong>
                            <span>
                                in HackData 2.0
                                <a target="_blank" href="http://hackdata.in/" class="icon-link"></a>
                            </span>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="outer">
                    <div class="vertical-line"></div>
                    <div class="tright thead" tabindex="1">
                        <p class="center" data-date="2nd Dec 2017">
                            <strong>
                                Won second prize
                                <br/>
                            </strong>
                            <span>
                                in MLH Localhack Day
                                <a target="_blank" href="https://localhackday.mlh.io/" class="icon-link"></a>
                            </span>
                        </p>
                    </div>
                    <div class="tleft thead" tabindex="1">
                        <p class="center" data-date="12th Nov 2017">
                            <strong>
                                Won third prize
                                <br/>
                            </strong>
                            <span>
                                at GDG JIIT Hackfest
                                <a target="_blank" href="https://devfest.gdgjss.in/" class="icon-link"></a>
                            </span>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="outer">
                    <div class="vertical-line"></div>
                    <div class="tright thead" tabindex="1">
                        <p class="center" data-date="18th Sep 2017">
                            <strong>
                                Started Blogging
                                <br/>
                            </strong>
                            <span>
                                on Medium
                                <a target="_blank" href="https://medium.com/@adityaa803/" class="icon-link"></a>
                            </span>
                        </p>
                    </div>
                    <div class="tleft thead" tabindex="1">
                        <p class="center" data-date="10th Jan 2017">
                            <strong>
                                Full Stack Intern
                                <br/>
                            </strong>
                            <span>
                                at Equifin United Pvt. Ltd.
                                <a target="_blank" href="http://bankomi.com/" class="icon-link"></a>
                            </span>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="outer">
                    <div class="vertical-line"></div>
                    <div class="tright thead" tabindex="1">
                        <p class="center" data-date="3rd Feb 2017">
                            <strong>
                                6000+ People Reached
                                <br/>
                            </strong>
                            <span>
                                on Stack Overflow
                                <a target="_blank" href="http://stackoverflow.com/users/6488776/aditya-agarwal" class="icon-link"></a>
                            </span>
                        </p>
                    </div>
                    <div class="tleft thead" tabindex="1">
                        <p class="center" data-date="10th Jan 2017">
                            <strong>
                                Got 1,500+ downloads 
                                <br/>
                            </strong>
                            <span>
                                on Circlebars Js Plugin
                                <a target="_blank" href="https://www.npmjs.com/package/circlebars" class="icon-link"></a>
                            </span>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="outer">
                    <div class="vertical-line"></div>
                    <div class="tright thead" tabindex="1">
                        <p class="center" data-date="25th Aug 2016">
                            <strong>
                                Angular Js Intern
                                <br/>
                            </strong>
                            <span>
                                at Elvento Labs
                                <a target="_blank" href="https://www.linkedin.com/company/elvento-private-limited" class="icon-link"></a>
                            </span>
                        </p>
                    </div>
                    <div class="tleft thead" tabindex="1">
                        <p class="center" data-date="28th July 2016">
                            <strong>
                                Built JStack
                                <br/>
                            </strong>
                            <span>
                                in Summers for developers
                                <a target="_blank" href="https://adi-jstack.herokuapp.com" class="icon-link"></a>
                            </span>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="outer">
                    <div class="vertical-line"></div>
                    <div class="tright thead" tabindex="1">
                        <p class="center" data-date="6 Aug 2016">
                            <strong>
                                Attended IncubateInd
                                <br/>
                            </strong>
                            <span>
                                Hackathon 2016
                            </span>
                        </p>
                    </div>
                    <div class="tleft thead" tabindex="1">
                        <p class="center" data-date="15th June 2016">
                            <strong>
                                Intern at
                                <br/>
                            </strong>
                            <span>
                                Just Wravel Pvt. Ltd.
                                <a target="_blank" href="https://www.justwravel.com/" class="icon-link"></a>
                            </span>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="outer">
                    <div class="vertical-line"></div>
                    <div class="tright thead" tabindex="1">
                        <p class="center" data-date="16th April 2016">
                            <strong>
                                Ranked Third
                                <br/>
                            </strong>
                            <span>
                                in IIT Roorkee Cognizance
                            </span>
                        </p>
                    </div>
                    <div class="tleft thead" tabindex="1">
                        <p class="center" data-date="4th Feb 2016">
                            <strong>
                                Recruited by
                                <br/>
                            </strong>
                            <span>
                                Nibble Computer Society
                                <a target="_blank" href="http://hackncs.com/" class="icon-link"></a>
                            </span>
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="outer">
                    <div class="vertical-line"></div>
                    <div class="tright thead" tabindex="1">
                        <p class="center" data-date="21st Nov 2015">
                            <strong>
                                Attended JSS Hacks
                                <br/>
                            </strong>
                            <span>
                                hackathon in JSS
                            </span>
                        </p>
                    </div>
                    <div class="tleft thead" tabindex="1">
                        <p class="center" data-date="12th Sep 2015">
                            <strong>
                                Active FSA
                                <br/>
                            </strong>
                            <span>
                                in Mozilla
                            </span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
