<div class="flexbox sm-full" id="hiring-content">
    <p class="greet-msg">Need my help on something ? <strong>Hit me Up !!</strong></p>
    <div class="form">
        <div class="form-box form-inline">
            <input class="input" type="text" required placeholder="Name"/>
            <input class="input" type="email" required placeholder="Email"/>
        </div>
        <div class="form-box">
            <textarea class="input" type="text" minlength="5" required placeholder="Message" rows="3"></textarea>
        </div>
        <br/>
        <button class="contact-submit" data-response=" ">Hit Me Up !</button>
    </div>
</div>
