<div class="flexbox sm-full" id="hiring-content">
    <div class="form">
        <ul role="contact">
            <li>
                <p>
                    Name
                </p>
                <input type="text" minlength="3" required />
                <button class="btn enterBtn" tabindex="-1">
                    <span class="icon-circle-right"></span>
                </button>
                <button class="btn editBtn" tabindex="-1">
                    <span class="icon-pencil"></span>
                </button>
            </li>
            <li>
                <p>
                    Email
                </p>
                <input type="email" required/>
                <button class="btn enterBtn" tabindex="-1">
                    <span class="icon-circle-right"></span>
                </button>
                <button class="btn editBtn" tabindex="-1">
                    <span class="icon-pencil"></span>
                </button>
            </li>
            <li>
                <p>
                    Message
                </p>
                <input type="text" minlength="5" required/>
                <button class="btn enterBtn" tabindex="-1">
                    <span class="icon-circle-right"></span>
                </button>
                <button class="btn editBtn" tabindex="-1">
                    <span class="icon-pencil"></span>
                </button>
            </li>
        </ul>
        <button class="hire-submit contact-submit" data-response=" ">
            Contact Me
        </button>
    </div>
</div>
