<div class="flexbox sm-full" id="details-content">
    <img src="assets/dp1.png" alt="" class="profile-pic"/>
    <div class="text">
        <h3 class="name capitalise">Aditya Agarwal</h3>
        <h5 class="post capitalise">
            - combo of
            <span class="txt-green">
                &nbsp;
                <span class="icon-html-five"></span>
                web developer
            </span>
            &amp;
            <span class="txt-green">
                &nbsp;
                <span class="icon-keyboard"></span>
                pythonista
            </span>
        </h5>
        <p class="add capitalise">
            <span class="icon-location2"></span>
            residing in noida , india
        </p>
        <span class="edu"></span>
        <div class="bio sm-full">
            <p role="My Aims :">
                Build applications
                <span class="icon-lab"></span>
                which can help
                <strong>people</strong>
                , solve
                <strong>real problems</strong>
                <span class="icon-stack"></span>
                and bring more
                <strong>challenges</strong>
                <span class="icon-cool"></span>
                for me .
            </p>
            <p role="More about me :">
                Have a
                <span class="icon-fire"></span>
                passion
                to
                <strong>learn</strong>
                new things , get
                <strong>inspired</strong>
                <span class="icon-power"></span>
                by people , work hard to
                fix
                <span class="icon-bug"></span>
                and
                <strong>talk</strong>
                about what I do .
            </p>
            <p role="Likings :">
                Listening to
                <span class="icon-music"></span>
                ,
                <strong>Blogging</strong>
                on Quora, Being with friends
                <span class="icon-happy"></span>
                , Attending
                <strong>
                    Hackathons and
                    <span class="icon-bullhorn"></span>
                    Meetups
                </strong>
                .
            </p>
            <p role="Recommendations :" class="recom">
                <strong>
                    <br/>
                    <span class="icon-user-tie"></span>
                    Mr. Rohan Verma
                </strong>
                (Head, Just Wravel Pvt.Ltd.)
                <br/>
                <br/>
                <em class="recom-text">
                    <span class="icon-quotes-left"></span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam illum necessitatibus sit odit magnam molestiae ad minima eaque, quisquam distinctio aliquam sapiente optio numquam impedit similique doloremque cupiditate consectetur non.
                    <span class="icon-quotes-right"></span>
                </em>
                <strong>
                    <br/>
                    <br/>
                    <span class="icon-user-tie"></span>
                    Mr. Shashank Agarwal
                </strong>
                (Head , Elevento Labs. Pvt. Ltd.)
                <br/>
                <br/>
                <em class="recom-text">
                    <span class="icon-quotes-left"></span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam illum necessitatibus sit odit magnam molestiae ad minima eaque, quisquam distinctio aliquam sapiente optio numquam impedit similique doloremque cupiditate consectetur non.
                    <span class="icon-quotes-right"></span>
                </em>
            </p>
            <p role="" class="social-icons">
                <a target="_blank" href="http://stackoverflow.com/users/6488776/aditya-agarwal" class="icon-facebook"></a>
                <a target="_blank" href="http://stackoverflow.com/users/6488776/aditya-agarwal" class="icon-github"></a>
                <a target="_blank" href="http://stackoverflow.com/users/6488776/aditya-agarwal" class="icon-google-plus"></a>
                <a target="_blank" href="mailto:adityaa803@gmail.com" class="icon-envelop"></a>
                <a target="_blank" href="http://stackoverflow.com/users/6488776/aditya-agarwal" class="icon-behance"></a>
                <a target="_blank" href="http://stackoverflow.com/users/6488776/aditya-agarwal" class="icon-stackoverflow"></a>
                <a target="_blank" href="https://in.linkedin.com/in/itsaditya" class="icon-linkedin2"></a>
            </p>
        </div>
    </div>
</div>
