<div class="flexbox sm-full" id="details-content">
    <img src="assets/aditya.jpg" alt="" class="profile-pic"/>
    <div class="text">
        <h3 class="name capitalise">Aditya Agarwal</h3>
        <h5 class="post capitalise">
            <span class="txt-green">
                <!-- <span class="icon-html-five"></span> -->
                <span class="icon-stack"></span>
                Full Stack web developer 
            </span>
            <!-- &amp;
            <span class="txt-green">
                &nbsp;
                <span class="icon-keyboard"></span>
                Experimental pythonista
            </span> -->
        </h5>
        <span class="edu"></span>
        <p class="add capitalise" style="margin-top: 20px;color: #555;">
            <span class="icon-location2"></span>
            residing in noida , india
        </p>
        <div class="bio sm-full">
            <p role="About Me :">
                Have a
                <span class="icon-fire"></span>
                to
                <strong>learn</strong>
                new things, do <span class="icon-lab"></span>
                , fix
                <span class="icon-bug"></span>
                and <a href="https://medium.com/@adityaa803/" target="_blank" style="color: #999;"><span class="icon-pencil"></span> write</a> about it. <br> I use <span class="icon-embed2"></span> to solve my everyday problems with swag <span class="icon-cool"></span> !!!
            </p>
            <!-- <p role="Likings :">
                listening to
                <span class="icon-music"></span>
                ,
                blogging
                on <strong><a href="https://medium.com/@adityaa803/" target="_blank" style="color: #999;">Medium</a></strong>, 
                <span class="icon-bullhorn"></span>
                about what I do and attending
                <strong>
                    Hackathons and Meetups
                </strong>
                .
            </p> -->
            <p role="Recommendations :" class="recom">
                <strong>
                    <br/>
                    <span class="icon-user-tie"></span>
                    Mr. Rohan Verma
                </strong>
                (Head, Just Wravel Pvt.Ltd.)
                <br/>
                <br/>
                <em class="recom-text">
                    <span class="icon-quotes-left"></span>
                    He's a skillful guy and a great asset for your company .
                    <span class="icon-quotes-right"></span>
                </em>
                
                <strong>
                    <br/>
                    <br/>
                    <span class="icon-user-tie"></span>
                    Mr. Naveen Gupta
                </strong>
                (Co-Founder, Bankomi.com)
                <br/>
                <br/>
                <em class="recom-text">
                    <span class="icon-quotes-left"></span>
                    Excellent Intern ! Constantly trying to improve and work on the hard parts.
                    <span class="icon-quotes-right"></span>
                </em>
                
            </p>
            <p role="" class="social-icons">
                <a target="_blank" href="https://www.facebook.com/aditya.agarwal.9400" class="icon-facebook"></a>
                <a target="_blank" href="https://github.com/itaditya" class="icon-github"></a>
                <a target="_blank" href="https://plus.google.com/+AdityaAgarwaljss" class="icon-google-plus"></a>
                <a target="_blank" href="mailto:adityaa803@gmail.com" class="icon-envelop"></a>
                <a target="_blank" href="http://stackoverflow.com/users/6488776/aditya-agarwal" class="icon-stackoverflow"></a>
                <a target="_blank" href="https://in.linkedin.com/in/itsaditya" class="icon-linkedin2"></a>
            </p>
        </div>
    </div>
</div>
