<div class="flexbox sm-full" id="details-content">
    <img src="assets/dp1.png" alt="" class="profile-pic"/>
    <div class="text">
        <h3 class="name capitalise">Aditya Agarwal</h3>
        <h5 class="post capitalise">
            <span class="txt-green">
                <!-- <span class="icon-html-five"></span> -->
                <span class="icon-stack"></span>
                Full Stack web developer 
            </span>
            <!-- &amp;
            <span class="txt-green">
                &nbsp;
                <span class="icon-keyboard"></span>
                Experimental pythonista
            </span> -->
        </h5>
        <span class="edu"></span>
        <p class="add capitalise" style="margin-top: 20px;">
            <span class="icon-location2"></span>
            residing in noida , india
        </p>
        <div class="bio sm-full">
            <p role="My Aims :">
                Build applications
                <span class="icon-lab"></span>
                which can help
                <strong>people</strong>
                , bringing creative solutions 
                <span class="icon-cool"></span>
                to
                <strong>real problems</strong>
            </p>
            <p role="More about me :">
                Have a
                <span class="icon-fire"></span>
                passion
                to
                <strong>learn</strong>
                new things , get
                <strong>inspired</strong>
                <span class="icon-power"></span>
                by people , work hard to
                fix
                <span class="icon-bug"></span>
                and
                <strong>talk</strong>
                about what I do .
            </p>
            <p role="Likings :">
                Listening to
                <span class="icon-music"></span>
                ,
                <strong>Blogging</strong>
                on Quora, Being with friends
                <span class="icon-happy"></span>
                , Attending
                <strong>
                    Hackathons and
                    <span class="icon-bullhorn"></span>
                    Meetups
                </strong>
                .
            </p>
            <p role="Recommendations :" class="recom">
                <strong>
                    <br/>
                    <span class="icon-user-tie"></span>
                    Mr. Rohan Verma
                </strong>
                (Head, Just Wravel Pvt.Ltd.)
                <br/>
                <br/>
                <em class="recom-text">
                    <span class="icon-quotes-left"></span>
                    He's a skillful guy and a great asset for your company . He always bring more to the table and tries to seek different methods to overcome issues.
                    <span class="icon-quotes-right"></span>
                </em>
                <strong>
                    <br/>
                    <br/>
                    <span class="icon-user-tie"></span>
                    Mr. Shashank Agarwal
                </strong>
                (Head , Elevento Labs. Pvt. Ltd.)
                <br/>
                <br/>
                <em class="recom-text">
                    <span class="icon-quotes-left"></span>
                    He's a skillful guy and a great asset for your company . He always bring more to the table and tries to seek different methods to overcome issues.
                    <span class="icon-quotes-right"></span>
                </em>
            </p>
            <p role="" class="social-icons">
                <a target="_blank" href="http://stackoverflow.com/users/6488776/aditya-agarwal" class="icon-facebook"></a>
                <a target="_blank" href="http://stackoverflow.com/users/6488776/aditya-agarwal" class="icon-github"></a>
                <a target="_blank" href="http://stackoverflow.com/users/6488776/aditya-agarwal" class="icon-google-plus"></a>
                <a target="_blank" href="mailto:adityaa803@gmail.com" class="icon-envelop"></a>
                <a target="_blank" href="http://stackoverflow.com/users/6488776/aditya-agarwal" class="icon-behance"></a>
                <a target="_blank" href="http://stackoverflow.com/users/6488776/aditya-agarwal" class="icon-stackoverflow"></a>
                <a target="_blank" href="https://in.linkedin.com/in/itsaditya" class="icon-linkedin2"></a>
            </p>
        </div>
    </div>
</div>
