<div class="flexbox sm-full" id="hiring-content">
    <div class="form">
        <ul role="hiring">
            <li class="filled active">
                <p data-step="1">
                    Job Title
                </p>
                <input autofocus="" type="text"/>
                <button class="enterBtn" data-index="1">
                    <span class="icon-play3"></span>
                </button>
            </li>
            <li>
                <p data-step="2">
                    Location
                </p>
                <input type="text"/>
                <button class="enterBtn" data-index="2">
                    <span class="icon-play3"></span>
                </button>
            </li>
            <li>
                <p data-step="3">
                    Organisation Name
                </p>
                <input type="text"/>
                <button class="enterBtn" data-index="3">
                    <span class="icon-play3"></span>
                </button>
            </li>
            <li>
                <p data-step="4">
                    Job Description
                </p>
                <textarea type="textarea" role="jobDesc"></textarea>
                <button class="enterBtn" data-index="4">
                    <span class="icon-play3"></span>
                </button>
            </li>
            <li>
                <p data-step="5">
                    Your Email
                </p>
                <input type="email"/>
            </li>
        </ul>
        <button class="hire-submit" data-response=" ">
            Hire Me
        </button>
    </div>
</div>
