<div class="sm-full" id="projects-content">
    <!-- <script type="text/javascript" src="/js/carousel.js"></script> -->
    <!-- <link rel="stylesheet" href="/css/carousel.css"/> -->
    <div class="main-carousel carousel">
        <div class="carousel-cell">
            <div class="flexbox carousel-cell-container">
                <img class="carousel-cell-image" data-flickity-lazyload="/assets/projects/bankomi.png" alt="tulip"/>
                <div class="carousel-cell-content">
                    <h3 class="carousel-content-title bg-green">Bankomi</h3>
                    <p class="carousel-content-description">
                        It is a unified B2B lending platform that digitize capital delivery and address other critical business needs viz. real time markets information, instant communication, etc.
                        <br/>
                        <br/>
                        <span class="tags">Node</span><span class="tags">Hapi</span><span class="tags">AngularJs</span><span class="tags">Bootstrap</span>
                    </p>
                    <div class="carousel-content-links">
                        <a href="https://bankomi.com/#/page/index" target="_blank" class="link circle icon-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="flexbox carousel-cell-container">
                <img class="carousel-cell-image" data-flickity-lazyload="/assets/projects/techtrek-2.png" alt="tulip"/>
                <div class="carousel-cell-content">
                    <h3 class="carousel-content-title bg-green">Tech Trek</h3>
                    <p class="carousel-content-description">
                        It's a platform for an online fun-filled and brainstorming game which will test your technical as well as your non-technical knowledge 
                        <br/>
                        <br/>
                        <span class="tags">Node</span><span class="tags">Express</span><span class="tags">jQuery</span><span class="tags">Bootstrap</span>
                    </p>
                    <div class="carousel-content-links">
                        <a href="https://github.com/ncs-jss/techtrek-17" target="_blank" class="link circle icon-github"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="flexbox carousel-cell-container">
                <img class="carousel-cell-image" data-flickity-lazyload="/assets/projects/justWravel.png" alt="tulip"/>
                <div class="carousel-cell-content">
                    <h3 class="carousel-content-title bg-green">JustWravel Website</h3>
                    <p class="carousel-content-description">
                        JustWravel lets you plans road trips, Treks , Group tours in India. Discover exotic locations for your travels.
                        <br/>
                        <br/>
                        <span class="tags">jQuery</span><span class="tags">Bootstrap</span><span class="tags">PHP</span>
                    </p>
                    <div class="carousel-content-links">
                        <a href="https://www.justwravel.com/" target="_blank" class="link circle icon-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="flexbox carousel-cell-container">
                <img class="carousel-cell-image" data-flickity-lazyload="/assets/projects/jstack.png" alt="tulip"/>
                <div class="carousel-cell-content">
                    <h3 class="carousel-content-title bg-green">JStack</h3>
                    <p class="carousel-content-description">
                        It's a blogging platform for developers. Fresh blogs are curated for people to read on JStack.
                        <br/>
                        <br/>
                        <span class="tags">AngularJs</span><span class="tags">Node</span><span class="tags">jQuery</span><span class="tags">Vanilla CSS</span>
                    </p>
                    <div class="carousel-content-links">
                        <a href="https://github.com/itaditya/Jstack" target="_blank" class="link circle icon-github"></a>
                        <a href="http://adi-jstack.herokuapp.com/" target="_blank" class="link circle icon-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="flexbox carousel-cell-container">
                <img class="carousel-cell-image" data-flickity-lazyload="/assets/projects/circlebars.png" alt="tulip"/>
                <div class="carousel-cell-content">
                    <h3 class="carousel-content-title bg-green">Circlebars</h3>
                    <p class="carousel-content-description">
                        a Jquery plugin which is used to add circular countdown timers and progress bars in your project easily.
                        <br/>
                        <br/>
                        <span class="tags">jQuery</span><span class="tags">Vanilla CSS</span>
                    </p>
                    <div class="carousel-content-links">
                        <a href="https://github.com/itaditya/circlebars" target="_blank" class="link circle icon-github"></a>
                        <a href="https://www.npmjs.com/package/circlebars" target="_blank" class="link circle icon-npm"></a>
                        <a href="http://circlebar.surge.sh/" target="_blank" class="link circle icon-link"></a>
                    </div>
                </div>
            </div>
        </div>
</div>
