<div class="sm-full" id="projects-content">
    <!-- <script type="text/javascript" src="/js/carousel.js"></script> -->
    <!-- <link rel="stylesheet" href="/css/carousel.css"/> -->
    <div class="main-carousel carousel">
        <div class="carousel-cell">
            <div class="flexbox carousel-cell-container">
                <img class="carousel-cell-image" data-flickity-lazyload="http://hackncs.com/img/portfolio-03.jpeg" alt="tulip"/>
                <div class="carousel-cell-content">
                    <h3 class="carousel-content-title bg-green">JStack</h3>
                    <p class="carousel-content-description">It's a blogging platform for developers.</p>
                    <div class="carousel-content-links">
                        <a href="adb" target="_blank" class="link circle icon-link"></a>
                        <a href="adb" target="_blank" class="link circle icon-github"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="flexbox carousel-cell-container">
                <img class="carousel-cell-image" data-flickity-lazyload="http://hackncs.com/img/portfolio-03.jpeg" alt="tulip"/>
                <div class="carousel-cell-content">
                    <h3 class="carousel-content-title bg-green">JStack</h3>
                    <p class="carousel-content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, aspernatur. Neque similique doloribus fuga dolorum nobis modi. Tempore sit fugiat quos nemo molestiae ducimus, beatae cupiditate, ratione, assumenda quae culpa.</p>
                    <div class="carousel-content-links">
                        <a href="adb" target="_blank" class="link circle icon-link"></a>
                        <a href="adb" target="_blank" class="link circle icon-github"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
