<div class="flexbox sm-full" id="projects-content">
    <div class="carousel-container carousel-1 carousel-btn-inside carousel-btn-arrow carousel-view-fullwidth">
        <div class="carousel-view">
            <ul class="carousel-images">
                <!-- data-src="assets/c.png" --><li>a</li>
                <!-- data-src="assets/c.png" --><li>b</li>
                <!-- data-src="assets/c.png" --><li>c</li>
                <!-- data-src="assets/c.png" --><li>d</li>
                <!-- data-src="assets/c.png" --><li>e</li>
                <!-- data-src="assets/c.png" --><li>f</li>
            </ul>
        </div>
        <button class="carousel-btn" id="cprev"></button>
        <button class="carousel-btn" id="cnext"></button>
        <!-- <div class="radio-container"></div> -->
    </div>
</div>
