<div class="sm-full" id="skills-content">
    <div class="skill-box" role="js">
        <div class="skill-logo align-left"></div>
        <div class="skill-text align-left">
            <h4 tabindex="1">
                Javascript
            </h4>
            <div class="progress-outer">
                <div class="progress-inner"></div>
            </div>
            <div class="tag-box">
                <p>
                    <span class="tags main">
                        Angularjs
                    </span>
                    <span class="tags">
                        AJAX
                    </span>
                    <span class="tags">
                        Promises
                    </span>
                    <span class="tags">
                        JSON
                    </span>
                    <span class="tags main">
                        Nodejs
                    </span>
                    <span class="tags">
                        ES6
                    </span>
                    <span class="tags main">
                        Angular 2
                    </span>
                    <span class="tags">
                        cross browser
                    </span>
                    <span class="tags main">
                        JQuery
                    </span>
                    <span class="tags">
                        Gulp
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="skill-box" role="python">
        <div class="skill-logo align-left"></div>
        <div class="skill-text align-left">
            <h4>
                Python
            </h4>
            <div class="progress-outer">
                <div class="progress-inner"></div>
            </div>
            <div class="tag-box">
                <p>
                    <span class="tags">
                        Web Scraping
                    </span>
                    <span class="tags main">
                        Automation
                    </span>
                    <span class="tags">
                        CLIs 
                    </span>
                    <span class="tags main">
                        Machine Learning
                    </span>
                    <span class="tags">
                        GUI
                    </span>
                    <span class="tags">
                        SymPi
                    </span>
                    <span class="tags">
                        Deep Learning
                    </span>
                    <span class="tags main">
                        Analytics
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="skill-box" role="html">
        <div class="skill-logo align-left"></div>
        <div class="skill-text align-left">
            <h4>
                HTML / CSS
            </h4>
            <div class="progress-outer">
                <div class="progress-inner"></div>
            </div>
            <div class="tag-box">
                <p>
                    <span class="tags">
                        Web APIs
                    </span>
                    <span class="tags">
                        Web Services
                    </span>
                    <span class="tags main">
                        SASS
                    </span>
                    <span class="tags">
                        LESS
                    </span>
                    <span class="tags main">
                        Flexbox Layout
                    </span>
                    <span class="tags">
                        Grid Layout
                    </span>
                    <span class="tags">
                        Cross Browser CSS
                    </span>
                    <span class="tags">
                        Animations
                    </span>
                    <span class="tags main">
                        Bootstrap
                    </span>
                    <span class="tags">
                        Materialize CSS
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="skill-box" role="mongo">
        <div class="skill-logo align-left"></div>
        <div class="skill-text align-left">
            <h4>
                Database Management
            </h4>
            <div class="progress-outer">
                <div class="progress-inner"></div>
            </div>
            <div class="tag-box">
                <p>
                    <span class="tags main">
                        MongoDB
                    </span>
                    <span class="tags">
                        CouchDB
                    </span>
                    <span class="tags">
                        MySQL
                    </span>
                    <span class="tags">
                        PostgreSQL
                    </span>
                    <span class="tags">
                        SQLite
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="other">
        <h3 class="center">
            Other things that keep me busy ..
        </h3>
        <div class="tag-box">
            <p>
                <span class="tags">
                    github
                </span>
                <span class="tags">
                    algorithims
                </span>
                <span class="tags">
                    C / C++
                </span>
                <span class="tags">
                    markdown
                </span>
                <span class="tags">
                    movies
                </span>
                <span class="tags">
                    networking
                </span>
                <span class="tags">
                    git
                </span>
                <span class="tags">
                    codechef
                </span>
                <span class="tags">
                    hackerrank
                </span>
            </p>
        </div>
    </div>
</div>
